* {
    padding: 0;
    margin: 0;
  }
  
  @font-face {
    font-family: "MsMadi";
    src: url(../MsMadi-Regular.ttf);
  }
  
  @font-face {
    font-family: "Roboto";
    src: url(../Roboto-Regular.ttf);
  }
  
  body {
    background: rgb(207, 161, 100);
    font-family: Roboto;
  }
  
  header {
    font-family: MsMadi;
    padding: 5px;
    background-color: antiquewhite;
    display: flex;
    justify-content: left;
    font-size: 20px;
  }
  
  h1 {
    margin-top: 5px;
    margin-left: 20px;
  }
  
  #socials {
    margin-left: auto;
  }
  
  #socials img {
    height: 50px;
    width: 50px;
  }
  
  #socials li {
    display: inline;
  }
  
  .top {
    margin-top: 3%;
    font-variant: small-caps;
    font-size: 20px;
    text-align: center;
    color: black;
  }
  
  
  
 h2 {
      color: antiquewhite;
      font-size: 30px;
      text-shadow: 3px 3px 3px black;
      
      
      
  }

  h3 {
    font-size: 25px;
    border-bottom: 3px rgb(78, 43, 19) dotted;
    padding-bottom: 1%;
  }

  .recipecontainer {
    display: flex;
    color: antiquewhite;
      
      text-shadow: 2px 1px 1px black;
  }
  .recipeleft{
    padding-left: 3%;
    padding-right: 3%;
  }

  .recipeleft,
  .reciperight,
  .recipedescription
   {
    text-align: center;
  }

  .recipedescription {
    font-size: 20px;
  }
  .reciperight {
    padding-top: .5%;
    padding-left: 1%;
    max-width: 50%;
  }
  
  .recipepicture {
      max-height: 500px;
      max-width: 500px;
      border: 4px rgb(78, 43, 19) dotted;
      border-radius: 20px;
  }

  .ingredients {
    padding-top: 5%;
    font-size: 20px;
    
  }

  .steps {
    padding-top: 5%;
    font-size: 20px;
  }

  ul {
    list-style: none;
  }
  
  li,
  .recipedescription p {
    color: rgb(78, 43, 19);
    text-shadow: none;
    font-weight: 600;
  }

  ol li {
    list-style: none;
  }

footer {
  position: fixed;
  left: 0;
  bottom: 0;


}

a {
  font-size: 20px;

}

 